    /* 
    Plausible Site Color:
    light blue: #b8c0bf
    dark brown: #8b7162
    light brown: #ce9f6c
    dark bluegreen: #1f3540
    slight neonish red: #e66a4f    
    */
    
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

    body, html {
      height: 100%;
      line-height: 1.8;
    }

    /* Full height image header */
    header {
      background-position: center;
      background-size: cover;
      background-image: url("images/2.png");
      min-height: 100%;
    }

    .nav-bar{
      padding: 16px;
      /* background-color: #3db8aa; */
    }

    .w3-button{
      padding: 16px;
    }

    .logo-info{
        font-size: small;
    }